# Files and directories to ignore in the project
#
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test directories and files
*test/*
*/*/temp/*

# Distribution / packaging
.Python
env/
build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
src/Spec7DT/reference/psfs/*.fits
*.egg-info/
.installed.cfg
*.egg